body {
    background-color: #181818;
    font-family: "Poppins"
}

a {
    color: inherit;
    text-decoration: none;
}

#mainNavBar {
    border-radius: 2em;
}

#mainNavBar img {
    width: 95px;
}

.navbar-dark-translucent {
    background-color: rgba(33, 37, 41, 0.95);
    backdrop-filter: blur(5px);
}

.nav-link > h5 {
    margin-left: 1em;
    margin-right: 1em;
}

#brianPortrait {
    max-width: 20em;
}

#psuLogo {
    background-color: white;
    padding: 1em 1em 1em 1em;
    max-width: 30em;
}

#expMetrics h3:first-child{
    color: #FF5722;
}

/* #video {
    aspect-ratio: 16/9;
    width: 100%;
} */

.btn-custom {
    background-color: #FF5722;
    color: white;
}

.btn-custom:hover {
    background-color: #e04b1d;
    color: white;
}

@media (max-width: 576px) {
    #mainNavBar img {
        width: 65px;
    }
}
