body {
    background-color: #181818;
    font-family: "Poppins"
}

a {
    color: inherit;
    text-decoration: none;
}

#mainNavBar {
    border-radius: 2em;
}

.nav-link > h5 {
    margin-left: 1em;
    margin-right: 1em;
}

#brianPotrait {
    max-width: 20em;
}

#psuLogo {
    background-color: white;
    padding: 1em 1em 1em 1em;
    max-width: 30em;
}

#expMetrics > h2 {
    color: #FF5722;
}

@keyframes slideUp {
  from {}

  to {
    transform: translateY(-10px);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

#contact i:hover {
    animation-name: slideUp;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#contact i:not(:hover) {
    animation-name: slideDown;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.btn-custom {
    background-color: #FF5722;
    color: white;
}

.btn-custom:hover {
    background-color: #e04b1d;
    color: white;
}